@charset "UTF-8";
/* CSS Document */

body {
    margin: 20px;
	width:auto;
	}

div#wrapper{

   width:1080px;
   height:590px;

   }

div#wrapper1{
	float:left;
	width:850px;
	
	}
div#wrapper2{

    float:right;
	width:205px;
	height:590px;

    }

canvas {
    top: 20px;
    left: 20px;
    border: 1px solid #ccc;
	box-shadow:5px 5px 10px #666;
	
	
}
#button {
    /*position: relative;
    top: -55px;
    left: 345px;
	*/
	
}
#save {
    /*font-size: 120%;
    width: 130px;
    height: 50px;*/
}
#clear {
    /*font-size: 120%;
    width: 80px;
    height: 50px;*/
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    /*cursor:pointer;
    cursor:hand;
    display:inline-block;
    border: 1px solid #000;
    width: 50px;
    height: 50px;*/
}

#slider{
	width:200px;
	margin:2px;
	background-image:url(../images/size.jpg);
	
	}
#slider2{
	width:200px;
	margin:2px;
	background-image:url(../images/transparency.jpg);
	}
#color{
    width:200px;
	height:10px;
    }
#logo{
	width:200px;
	}
#slider{
    margin:20px 0px 20px 0px;
	}
#slider2{
    margin:20px 0px 20px 0px;
	}
#postfb{
    margin:20px 0px 0px 12px;
	}
#picker{
    margin:10px 0px 0px 0px;
    }
li {
    margin-left:0px;
    list-style-type: none;
}